
h1{
    display: flex;
    padding: 1rem;
    justify-content: center;
}

.Parent{
    padding: 1rem;
    justify-content: center;
    margin: auto;
    border: 1px solid black;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    width: 33.3%;
    height: 50px;

}